@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');
/* Testing */
[class*="xspan"] {
  border: 1px solid red;
}
#branding {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}
/* Tables, general */
td,
th {
  padding: 0.1em 0.5em;
}
/* Fields, general */
.field {
  margin-bottom: 1em;
}
/* Views, general */
.views-row {
  margin-bottom: 1em;
}
.view .attachment {
  margin-top: 1.5em;
}
/* Sponsor Logos view */
.views-slideshow-cycle-main-frame {
  margin: 0 auto;
}
/* Typography */
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
/* Radio Bottom */
#radio-bottom {
  clear: both;
}
/* Left Sidebar */
#sidebar-left .region-left {
  padding: 0 0 0 24px;
}
#sidebar-left input[type="text"],
#sidebar-left input[type="password"] {
  width: 85%;
}
/* Blocks, General */
.block {
  margin-bottom: 1.5em;
}
/* Forms, General */
#edit-actions {
  background-color: transparent;
  border: none;
}
/* Sponsor Logos Block */
.view-sponsor-logos {
  text-align: center;
}
.view-sponsor-logos h3 {
  font-weight: 400;
  font-size: 12px;
  color: #AAA;
}
/* Perf */
#perf {
  margin-top: 20px;
}
/* Blog */
p.left-image {
  float: left;
  margin-right: 20px;
}
p.right-image {
  float: right;
  margin-left: 20px;
}
div.submitted {
  margin-bottom: 1em;
}
