@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');
/* Testing */
[class*="xspan"] {
  border: 1px solid red;
}
h1.page-title {
  margin-bottom: 1em;
}
img {
  width: auto;
  height: auto;
}
#branding {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}
/* Tables, general */
td,
th {
  padding: 0.1em 0.5em;
}
/* Fields, general */
.field {
  margin-bottom: 1em;
}
/* Views, general */
.views-row {
  margin-bottom: 1em;
}
.view .attachment {
  margin-top: 1.5em;
}
/* Sponsor Logos view */
.views-slideshow-cycle-main-frame {
  margin: 0 auto;
}
/* Sponsor Page view */
.view-sponsors .view-content + .attachment-after,
.view-exhibitors .view-content + .attachment-after {
  margin-top: -1.5em;
}
.view-sponsors .views-row,
.view-exhibitors .views-row {
  clear: both;
  margin-bottom: 4em;
}
.view-sponsors .views-row .views-field,
.view-exhibitors .views-row .views-field {
  margin-bottom: 1em;
  margin-left: 30%;
  padding-left: 15px;
}
.view-sponsors .views-row .views-field-title,
.view-exhibitors .views-row .views-field-title {
  margin-left: 0;
  margin-bottom: 1em;
  padding: 0;
  font-size: 2em;
}
.view-sponsors .views-row .views-field-field-logo-website,
.view-exhibitors .views-row .views-field-field-logo-website {
  float: left;
  margin-bottom: 4em;
  margin-left: 0;
  margin-right: 15px;
  padding: 0;
  width: 30%;
}
.view-sponsors .views-row .views-field-field-logo-website img,
.view-exhibitors .views-row .views-field-field-logo-website img {
  width: auto;
  height: auto;
}
.view-sponsors .views-row .views-field-field-sponsor-type,
.view-exhibitors .views-row .views-field-field-sponsor-type {
  margin-bottom: 15px;
}
.view-sponsors .views-row .views-field-field-sponsor-type .field-content,
.view-exhibitors .views-row .views-field-field-sponsor-type .field-content {
  display: inline-block;
  min-width: 112px;
  text-align: center;
  background-color: #EEB;
  border: 2px dotted #CC6;
  padding: 3px 12px;
}
/* Featured Speakers view */
.view-featured-speakers .views-row,
.view-featured-presentations .views-row {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  text-align: center;
  color: #FFF;
}
.view-featured-speakers .views-row .views-field-title img,
.view-featured-presentations .views-row .views-field-title img,
.view-featured-speakers .views-row .views-field-field-speaker-photo img,
.view-featured-presentations .views-row .views-field-field-speaker-photo img {
  width: auto;
  height: auto;
  max-width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  /*border: 3px solid #FFF;*/

}
/* Presentation page view */
#presentation-page .panel-panel {
  margin-bottom: 1.5em;
}
#presentation-page .panel-panel .panel-pane {
  margin-bottom: 0.5em;
}
#presentation-page .panel-panel .terms {
  float: left;
  padding-right: 1.5em;
  margin-bottom: 1.5em;
  margin-top: -0.5em;
}
#presentation-page .panel-panel .pane-user-field-speaker-photo {
  float: right;
  margin-left: 1em;
  width: 33%;
}
#presentation-page .panel-panel .pane-node-field-speaker {
  font-size: 2em;
  line-height: 100%;
}
#presentation-page .panel-panel .pane-node-field-long-abstract {
  clear: left;
  line-height: 1.5em;
}
#presentation-page .panel-panel .pane-node-field-long-abstract p:first-line {
  text-transform: uppercase;
}
#presentation-page .panel-panel .pane-node-field-long-abstract * + p:first-line {
  text-transform: none;
}
/* Presentation List view */
.view-presentation-page .view-content .views-row {
  margin-bottom: 1.5em;
}
.view-presentation-page .view-content .views-row .views-field {
  margin-bottom: 0.5em;
}
.view-presentation-page .view-content .views-row .terms {
  float: left;
  margin-right: 0.5em;
}
.view-presentation-page .view-content .views-row .views-field-field-speaker-photo {
  float: right;
  margin-left: 1em;
  width: 33%;
}
.view-presentation-page .view-content .views-row .views-field-title {
  font-size: 2em;
  line-height: 106%;
}
.view-presentation-page .view-content .views-row .views-field-field-speaker {
  font-size: 1.5em;
}
.view-presentation-page .view-content .views-row .views-field-field-short-abstract {
  clear: left;
}
/* Speaker page view */
.view-speaker-page .views-row .views-field {
  margin-bottom: 9px;
}
.view-speaker-page .views-row .views-field-realname {
  font-size: 2em;
}
.view-speaker-page .views-row .views-field-field-speaker-photo {
  float: left;
  margin-right: 1.5em;
}
/* Typography */
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
/* Radio Bottom */
#radio-bottom {
  clear: both;
}
/* Left Sidebar */
#sidebar-left input[type="text"],
#sidebar-left input[type="password"] {
  width: 85%;
}
/* Blocks, General */
.block {
  margin-bottom: 1.5em;
}
/* Forms, General */
#edit-actions {
  background-color: transparent;
  border: none;
}
/* Sponsor Logos Block */
.view-sponsor-logos {
  text-align: center;
}
.view-sponsor-logos h3 {
  font-weight: 400;
  font-size: 12px;
  color: #AAA;
}
/* Social Media Links Block */
#block-block-8 img {
  margin: 0 2px 3px 1px;
}
/* Perf */
#perf {
  margin-top: 20px;
}
/* Blog */
p.left-image {
  float: left;
  margin-right: 20px;
}
p.right-image {
  float: right;
  margin-left: 20px;
}
div.submitted {
  margin-bottom: 1em;
}
/* Featured region */
#featured {
  position: relative;
  /*left: 4%;*/

}
