@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');
/* Testing */
[class*="xspan"] {
  border: 1px solid red;
}
h1.page-title {
  margin-bottom: 1em;
}
img {
  width: auto;
  height: auto;
}
#branding {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}
/* Tables, general */
td,
th {
  padding: 0.1em 0.5em;
}
/* Fields, general */
.field {
  margin-bottom: 1em;
}
/* Views, general */
.views-row {
  margin-bottom: 1em;
}
.view .attachment {
  margin-top: 1.5em;
}
/* Sponsor Logos view */
.views-slideshow-cycle-main-frame {
  margin: 0 auto;
}
/* Sponsor Page view */
.view-sponsors .view-content + .attachment-after,
.view-exhibitors .view-content + .attachment-after {
  margin-top: -1.5em;
}
.view-sponsors .views-row,
.view-exhibitors .views-row {
  clear: both;
  margin-bottom: 4em;
}
.view-sponsors .views-row .views-field,
.view-exhibitors .views-row .views-field {
  margin-bottom: 1em;
  margin-left: 30%;
  padding-left: 15px;
}
.view-sponsors .views-row .views-field-title,
.view-exhibitors .views-row .views-field-title {
  margin-left: 0;
  margin-bottom: 1em;
  padding: 0;
  font-size: 2em;
}
.view-sponsors .views-row .views-field-field-logo-website,
.view-exhibitors .views-row .views-field-field-logo-website {
  float: left;
  margin-bottom: 4em;
  margin-left: 0;
  margin-right: 15px;
  padding: 0;
  width: 30%;
}
.view-sponsors .views-row .views-field-field-logo-website img,
.view-exhibitors .views-row .views-field-field-logo-website img {
  width: auto;
  height: auto;
}
.view-sponsors .views-row .views-field-field-sponsor-type,
.view-exhibitors .views-row .views-field-field-sponsor-type {
  margin-bottom: 15px;
}
.view-sponsors .views-row .views-field-field-sponsor-type .field-content,
.view-exhibitors .views-row .views-field-field-sponsor-type .field-content {
  display: inline-block;
  min-width: 112px;
  text-align: center;
  background-color: #EEB;
  border: 2px dotted #CC6;
  padding: 3px 12px;
}
/* Featured Speakers view */
.view-featured-speakers .views-row,
.view-featured-presentations .views-row {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  text-align: center;
  color: #FFF;
}
.view-featured-speakers .views-row .views-field-title img,
.view-featured-presentations .views-row .views-field-title img,
.view-featured-speakers .views-row .views-field-field-speaker-photo img,
.view-featured-presentations .views-row .views-field-field-speaker-photo img {
  width: auto;
  height: auto;
  max-width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  /*border: 3px solid #FFF;*/

}
/* Featured Presentations view */
#block-views-featured-presentations-block {
  width: 104%;
}
/* Presentation page view */
#presentation-page .panel-panel {
  margin-bottom: 1.5em;
}
#presentation-page .panel-panel .panel-pane {
  margin-bottom: 0.5em;
}
#presentation-page .panel-panel .terms {
  float: left;
  padding-right: 1.5em;
  margin-bottom: 1.5em;
  margin-top: -0.5em;
  max-width: 55%;
}
#presentation-page .panel-panel .pane-user-field-speaker-photo {
  float: right;
  margin-left: 1em;
  width: 33%;
}
#presentation-page .panel-panel .pane-node-field-speaker {
  font-size: 2em;
  line-height: 100%;
}
#presentation-page .panel-panel .pane-node-field-audience {
  margin-bottom: 0;
}
#presentation-page .panel-panel .pane-node-field-long-abstract {
  clear: left;
  line-height: 1.5em;
}
#presentation-page .panel-panel .pane-node-field-long-abstract p:first-child:first-line {
  text-transform: uppercase;
}
/* Presentation List view */
.view-presentation-page .view-content .views-row {
  margin-bottom: 3em;
}
.view-presentation-page .view-content .views-row .views-field {
  margin-bottom: 0.5em;
}
.view-presentation-page .view-content .views-row .terms {
  float: left;
  margin-right: 0.5em;
}
.view-presentation-page .view-content .views-row .views-field-field-speaker-photo {
  float: right;
  margin-left: 1em;
  width: 33%;
}
.view-presentation-page .view-content .views-row .views-field-title {
  font-size: 2em;
  line-height: 106%;
}
.view-presentation-page .view-content .views-row .views-field-field-speaker {
  font-size: 1.5em;
}
.view-presentation-page .view-content .views-row .views-field-field-short-abstract {
  clear: left;
}
/* Speaker page view */
.view-speaker-page .views-row {
  clear: both;
  margin-bottom: 3em;
}
.view-speaker-page .views-row .views-field {
  margin-bottom: 9px;
}
.view-speaker-page .views-row .views-field-realname {
  font-size: 2em;
}
.view-speaker-page .views-row .views-field-field-speaker-photo {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 3em;
}
/* Special Events view */
.view-special-events .views-row {
  clear: both;
  margin-bottom: 2.5em;
}
.view-special-events .views-row .views-field {
  margin-left: 40%;
}
.view-special-events .views-field-field-logo {
  float: left;
  width: 33%;
  margin-bottom: 2.5em;
  margin-left: 0 !important;
  margin-right: 15px;
  text-align: center;
}
.view-special-events .views-field-field-logo img {
  width: auto;
  height: auto;
}
/* Typography */
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
/* Radio Bottom */
#radio-bottom {
  clear: both;
}
/* Left Sidebar */
#sidebar-left input[type="text"],
#sidebar-left input[type="password"] {
  width: 85%;
}
/* Blocks, General */
.block {
  margin-bottom: 1.5em;
}
/* Forms, General */
#edit-actions {
  background-color: transparent;
  border: none;
}
/* Sponsor Logos Block */
.view-sponsor-logos {
  text-align: center;
}
.view-sponsor-logos h3 {
  font-weight: 400;
  font-size: 12px;
  color: #AAA;
}
/* Social Media Links Block */
#block-block-8 img {
  margin: 0 2px 3px 1px;
}
/* Perf */
#perf {
  margin-top: 20px;
}
/* Blog */
p.left-image {
  float: left;
  margin-right: 20px;
}
p.right-image {
  float: right;
  margin-left: 20px;
}
div.submitted {
  margin-bottom: 1em;
}
/* Special Event node */
.node-special-event .field {
  margin-bottom: 1.5em;
  clear: both;
}
.node-special-event .field-name-field-logo {
  float: left;
  width: 33%;
  margin-left: 0 !important;
  margin-right: 1.5em;
  text-align: center;
  clear: none;
}
.node-special-event .field-name-body {
  clear: none;
}
/* Featured region */
#featured {
  position: relative;
  /*left: 4%;*/

}
/* Menu */
li.submenu-item {
  padding-left: 12px;
}
li.submenu-item a {
  font-weight: normal !important;
}
/* Schedule (Calendar) */
.schedule_11x .panels-flexible-region + .panels-flexible-region td.first,
.schedule_11x .panels-flexible-region + .panels-flexible-region td.calendar-time-holder {
  display: none;
}
.schedule_11x .panels-flexible-region .panels-flexible-region-inside {
  padding-left: 0;
  padding-right: 0;
}
.schedule_11x .panels-flexible-region .panels-flexible-region-inside #time {
  width: 50px;
}
.schedule_11x .panels-flexible-region .panels-flexible-region-inside #time table {
  width: auto;
}
.schedule_11x .panels-flexible-region .panels-flexible-region-inside #time table xtd {
  width: 50px;
}
.schedule_11x .panels-flexible-region .panels-flexible-region-inside #time table .calendar-agenda-hour {
  width: 45px;
  padding-right: 5px;
}
.schedule_11x .panels-flexible-region .panels-flexible-region-inside .pane-room-schedule:first-child td.first {
  display: table-cell;
}
.schedule_11x .panels-flexible-region .panels-flexible-region-inside .pane-room-schedule:first-child td.last {
  display: none;
}
.schedule_11x .panels-flexible-region .panels-flexible-region-inside .pane-room-schedule td.first {
  display: none;
}
.schedule_11x .panels-flexible-region .panel-separator {
  display: none;
}
.schedule_11x .panels-flexible-region .panel-pane {
  float: left;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content {
  overflow: hidden !important;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content {
  position: relative;
  top: -425px;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content .calendar-agenda-items .view-item {
  width: 95%;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content table.full {
  width: auto;
  min-width: 120px;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #multi-day-container {
  overflow: hidden;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container {
  overflow: hidden;
  height: 1100px;
  /* Track colors */

  /* Beginners Tutorials */

  /* Break */

  /* Cloud and Virtualization */

  /* Developer */

  /* DevOps */

  /* Fedora */

  /* General */

  /* Kernel */

  /* Keynote */

  /* Mentoring */

  /* MySQL */

  /* Open Source Software in Education */

  /* PostgreSQL */

  /* ScaleU */

  /* Sponsored */

  /* SysAdmin */

  /* Try It Lab */

  /* Ubucon */

  /* UpSCALE */

  /* Youth */

}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track {
  border: none;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track .contents {
  font-size: 12px;
  padding-top: 4px;
  margin-left: 5px;
  line-height: 110%;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track .contents .views-field-title a {
  font-weight: normal;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track .contents * {
  margin-left: 0px;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-6 {
  background-color: #3353AF;
  color: #FFF;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-6 a {
  color: #FFF;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-7 {
  background-color: #123;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-7 a {
  color: #FFF;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-8 {
  background-color: #638DCE;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-8 a {
  color: #FFF;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-9 {
  background-color: #D65C09;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-9 a {
  color: #000;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-10 {
  background-color: #565448;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-10 a {
  color: #FFF;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-11 {
  background-color: #A30C0C;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-11 a {
  color: #FFF;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-12 {
  background-color: #97A67A;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-12 a {
  color: #FFF;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-13 {
  background-color: #AD9134;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-13 a {
  color: #FFF;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-14 {
  background-color: #D31111;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-14 a {
  color: #FFF;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-15 {
  background-color: #998876;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-15 a {
  color: #FFF;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-16 {
  background-color: #8B47BB;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-16 a {
  color: #FFF;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-17 {
  background-color: #72B20F;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-17 a {
  color: #FFF;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-18 {
  background-color: #0AACA0;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-18 a {
  color: #FFF;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-19 {
  background-color: #405E5E;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-19 a {
  color: #FFF;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-20 {
  background-color: #123;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-20 a {
  color: #FFF;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-21 {
  background-color: #C4C249;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-21 a {
  color: #000;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-22 {
  background-color: #956140;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-22 a {
  color: #FFF;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-23 {
  background-color: #774022;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-23 a {
  color: #FFF;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-24 {
  background-color: #956140;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-24 a {
  color: #FFF;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-25 {
  background-color: #098C09;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-content .view-content #single-day-container .track-25 a {
  color: #FFF;
}
.schedule_11x .panels-flexible-region .panel-pane .pane-title {
  font-size: 12px;
}
.calendar-calendar .day-view #single-day-container table td {
  width: 100%;
}
