@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');


/******************************************
 * WIDE VIEW (> 1200px)                   *
 ******************************************/
@media (min-width: 1200px) {
body.device-indicator {background-color: yellow;}
#radio-bottom,
#radio-display {
  width: 810px;
}
.page-scale11x-schedule {
  #radio-display {
    width: 1100px;
    margin-left: 50px;
  }
}
#sidebar-right {
  width: 210px;
}
}
/******************************************
 * TABLET LAYOUT (1199px to 980px)         *
 ******************************************/
@media (max-width: 1199px) and (min-width: 980px) {
body.device-indicator {background-color: red;}
#radio-display {
  width: 638px;
}
.page-scale11x-schedule {
  #radio-display {
    width: 870px;
    margin-left: 38px;
  }
}
#sidebar-right {
  width: 158px;
}
}
/******************************************
 * ANYTHING LARGER THAN TABLET (> 980px)  *
 ******************************************/
@media (min-width: 980px) {
}
/******************************************
 * TABLET AND SMALLER (< 979px)           *
 ******************************************/
@media (max-width: 979px) {
body.device-indicator {background-color: blue;}
#radio-display {
  width: 488px;
}.page-scale11x-schedule {
  #radio-display {
    width: 663px;
    margin-left: 34px;
  }
}
#sidebar-right {
  width: 116px;
}
#sidebar-left h2 {
  font-size: 20px;
}
}
/******************************************
 * TABLET LAYOUT (979px to 768px)         *
 ******************************************/
@media (max-width: 979px) and (min-width: 768px) {
  .region-header {
    display: none;
  }
  #header #tablet-logo {
    display: block;
  }
  .navbar-inner {
    display: none;
  }
}
/******************************************
 * ANYTHING LARGER THAN PHONE  (> 768px)  *
 ******************************************/
@media (min-width: 768px) {
 /* Visual Design */
/* radio color */
body > * {
  background-color: #AAA;
}

#radio-display {
  background-color: #FFF;
  /*margin-left: 25%;*/
  border-radius: 20px;
  padding: 0 10px 0 24px;
}
#header {
  margin-top: 20px;
  border-radius: 30px 30px 0 0;
}

#footer {
  margin-bottom: 20px;
  border-radius: 0 0 30px 30px;
}

#content-area {
  margin-top: 15px;
}

.sidebar-left {
  /*margin-left: 20px;*/
}

/* Menus */
ul.menu li {
  list-style: none;
}

#menu .region-search-top {
  padding: 0 24px 0 24px;
}

ul.menu {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin-left: 0;
}

ul.menu a {
  color: #EEE;
}

#sidebar-left {
  ul li {
    a:hover,
    a.active {
      color: #FFF;
      text-shadow: 0 0 0.2em #FFF;
      text-decoration: none;
    }
  }
  .region-left {
    padding: 0 0 0 24px;
  }
}

#featured {
  /*left: 4%;*/
}
#block-views-featured-presentations-block,
#block-views-featured-speakers-block {
  padding-left: 4%;
}

#radio-bottom ul.menu {
  margin-top: 10px;
}
#radio-bottom ul.menu a {
  color: #FFF;
}
#radio-bottom ul.menu li {
  display: inline;
  margin: 0;
  padding: 0.2em 0.1em 0 0.4em;
}
#radio-bottom ul.menu li + li {
  border-left: 1px solid #FFF;
}
#block-block-8 {
  padding-left: 0.5em;
}
.page-node-423 {
  .menu-block-2 {
    ul li {
      display: block;
      a {
        width: 200px;
      }
    }
  }
}
.menu-block-2,
.menu-block-1 {
  ul {
    li {
      display: inline-block;
      width: 45%;
      a {
        width: 96%;
      }
    }
  }
}
}
/******************************************
 * MOBILE LAYOUT ( < 768px)               *
 ******************************************/
@media (max-width: 767px) {
body.device-indicator {
  background-color: #FFF;
}
.region-header {
  display: none;
}
.sidebar-area {
  /*display: none;*/
}
#radio-bottom,
#sidebar-right {
  display: none;
}
#block-system-main-menu {
  display: none;
}
body {
  padding: 5px;
}
.page-scale11x-schedule {
  #radio-display {
    width: 94%;
  }
}
/* Featured Speakers view */
#block-views-featured-presentations-block .views-field,
.view-featured-speakers .views-field-realname {
  color: #000;
}
.page-node-423 {
  .menu-block-2 {
    ul li {
      margin-bottom: 10px;
      a {
        width: 93%;
      }
    }
  }
}
.menu-block-2,
.menu-block-1 {
  ul {
    li {
      a {
        width: 90%;
      }
    }
  }
}
}
/******************************************
 * SMALL MOBILE LAYOUT ( < 520px)         *
 ******************************************/
@media (max-width: 600px) {
  .hidden-phone {
    display: none;
  }
}
/******************************************
 * SMALL PORTRAIT MOBILE LAYOUT ( < 480px)         *
 ******************************************/
@media (max-width: 465px) {
  .hidden-phone-portrait {
    display: none;
  }
}

