#site-logo {
  margin-bottom: 2em;
}
.social-media img {
  margin: 0 3px 3px 0;
}
.view-sponsor-logos .views-field-nothing {
  display: none;
}
.view-sponsor-logos h3 {
  text-align: center;
  font-size: 100%;
}
.view-sponsor-logos .views-field-field-logo-website {
  text-align: center;
  margin-bottom: 1em;
}
.view-sponsor-logos .views-row-last {
  margin-bottom: 2em;
}
.view-sponsor-logos .views-slideshow-cycle-main-frame {
  width: 100px;
  margin: 0 auto;
}
.view-exhibitors .attachment-after .view-content .views-row,
.view-sponsors-12x .attachment-after .view-content .views-row {
  padding-top: 40px;
}
.view-exhibitors .views-row,
.view-sponsors-12x .views-row {
  padding-top: 40px;
  clear: both;
}
.view-exhibitors .views-row-first,
.view-sponsors-12x .views-row-first {
  padding-top: 0;
}
.view-exhibitors .views-field,
.view-sponsors-12x .views-field {
  margin-bottom: 10px;
}
.view-exhibitors .views-field-title,
.view-sponsors-12x .views-field-title {
  font-size: 2em;
  margin-bottom: 20px;
}
.view-exhibitors .views-field-field-logo-website,
.view-sponsors-12x .views-field-field-logo-website {
  float: left;
  margin-right: 20px;
  width: 220px;
}
.view-exhibitors .views-field-field-sponsor-type,
.view-sponsors-12x .views-field-field-sponsor-type {
  background-color: #EEEEBB;
  border: 2px dotted #CCCC66;
  display: inline-block;
  min-width: 112px;
  padding: 3px 12px;
  text-align: center;
}
.view-sponsors-12x .view-content .views-row {
  padding-top: 0;
}
#navbar .dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  top: 35px;
}
#block-menu-block-3 li {
  display: inline-block;
  border-left: 1px solid #000;
  padding: 0 4px 0 8px;
}
#block-menu-block-3 li.first {
  border-left: none;
}
#block-menu-block-3 li.active {
  font-weight: bold;
}
#block-menu-menu-12x-footer li {
  display: inline-block;
  border-left: 1px solid #999;
  padding: 0 4px 0 6px;
}
#block-menu-menu-12x-footer li.first {
  border-left: none;
  padding-left: 0;
}
/* Featured Speakers block */
#block-views-featured-presentations-block-1 {
  margin-bottom: 2em;
}
#block-views-featured-presentations-block-1 .views-row {
  float: left;
  width: 33%;
}
#block-views-featured-presentations-block-1 .views-field-title {
  margin-bottom: 0.5em;
}
/* Presentation pages */
.view-presentation-single a,
#presentation-page a {
  text-decoration: none;
}
.view-presentation-single .views-label,
#presentation-page .views-label {
  font-weight: bold;
}
.view-presentation-single .views-field,
#presentation-page .views-field,
.view-presentation-single .panel-pane,
#presentation-page .panel-pane {
  margin-bottom: .5em;
}
.view-presentation-single .views-field-field-speaker-photo,
#presentation-page .views-field-field-speaker-photo,
.view-presentation-single .pane-user-field-speaker-photo,
#presentation-page .pane-user-field-speaker-photo {
  float: right;
  margin-left: 20px;
}
.view-presentation-single .views-field-nothing,
#presentation-page .views-field-nothing,
.view-presentation-single .pane-node-field-speaker,
#presentation-page .pane-node-field-speaker {
  font-size: 2em;
}
.view-presentation-single .views-label.terms,
#presentation-page .views-label.terms {
  margin-right: 5px;
}
.view-presentation-single .terms,
#presentation-page .terms {
  float: left;
  margin-right: 20px;
  margin-bottom: .5em;
}
.view-presentation-single .views-field-field-long-abstract,
#presentation-page .views-field-field-long-abstract,
.view-presentation-single .pane-node-field-long-abstract,
#presentation-page .pane-node-field-long-abstract {
  clear: left;
}
#speaker-page .pane-user-field-speaker-photo {
  float: left;
  margin-right: 20px;
}
#speaker-page .pane-presentations-by-speaker-panel-pane-2,
#speaker-page .pane-presentations-by-speaker-panel-pane-1 {
  margin-bottom: 20px;
}
#speaker-page .views-field-field-biography {
  margin-top: 20px;
}
/* Presentations List Page */
.view-presentation-page .views-row {
  margin-bottom: 2em;
  clear: both;
}
.view-presentation-page .views-field {
  margin-bottom: 12px;
}
.view-presentation-page .views-field-field-speaker-photo {
  float: right;
  margin-left: 20px;
}
.view-presentation-page .views-field-title {
  font-size: 2em;
  line-height: 1em;
}
.view-presentation-page .views-field-field-speaker {
  font-size: 1.5em;
}
.view-presentation-page .terms {
  display: inline-block;
}
.view-presentation-page .views-field-field-topic {
  margin: auto auto 20px 20px;
}
/* Speakers List Page */
.view-speaker-page .views-row {
  margin-bottom: 2em;
  clear: both;
  min-height: 210px;
}
.view-speaker-page .views-field {
  margin-bottom: 12px;
}
.view-speaker-page .views-field-field-job-title {
  margin-bottom: 0;
}
.view-speaker-page .views-field-field-speaker-photo {
  float: left;
  margin-right: 20px;
}
.view-speaker-page .views-field-realname {
  font-size: 2em;
}
.view-speaker-page .views-field-title {
  font-size: 1em;
  line-height: 1em;
}
.view-speaker-page .terms {
  display: inline-block;
}
.view-speaker-page .views-field-field-topic {
  margin: auto auto 20px 20px;
}
