body {
}

// Banner Graphics
#site-logo {
  margin-bottom: 2em;
}

// Social Media Icon Block
.social-media img {
  margin: 0 3px 3px 0;
}

// Sponsor Logo Block
.view-sponsor-logos {
  .views-field-nothing {
    display: none;
  }
  h3 {
    text-align: center;
    font-size: 100%;
  }
  .views-field-field-logo-website {
    text-align: center;
    margin-bottom: 1em;
  }
  .views-row-last {
    margin-bottom: 2em;
  }
}

// Sponsor List Page(s)
.view-exhibitors,
.view-sponsors-12x {
  .views-row {
    padding-top: 40px;
    clear: both;
  }
  .views-row-first {
    padding-top: 0;
  }
  .views-field {
    margin-bottom: 10px;
  }
  .views-field-title {
    font-size: 2em;
    margin-bottom: 20px;
  }
  .views-field-field-logo-website {
    float: left;
    margin-right: 20px;
    width: 220px;
  }
  .views-field-field-sponsor-type {
    background-color: #EEEEBB;
    border: 2px dotted #CCCC66;
    display: inline-block;
    min-width: 112px;
    padding: 3px 12px;
    text-align: center;
  }
}

// Menus
// Footer Menu
#block-menu-menu-12x-footer {
  li {
    display: inline-block;
    border-left: 1px solid #999;
    padding: 0 4px 0 6px;
  }
  li.first {
    border-left: none;
    padding-left: 0;
  }
}

/* Featured Speakers block */
#block-views-featured-presentations-block-1 {
  margin-bottom: 2em;
  .views-row {
    float: left;
    width: 33%;
  }
  .views-field-title {
    margin-bottom: 0.5em;
  }
}

/* Presentation pages */
#presentation-page {
  .panel-pane {
    margin-bottom: .5em;
  }
  .pane-user-field-speaker-photo {
    float: right;
    margin-left: 20px;
  }
  .pane-node-field-speaker {
    font-size: 2em;
  }
  .terms {
    float: left;
    margin-right: 20px;
  }
  .pane-node-field-long-abstract {
    clear: left;
  }
}

// Speakers Individual page
#speaker-page {
  .pane-user-field-speaker-photo {
    float: left;
    margin-right: 20px;
  }
  .pane-presentations-by-speaker-panel-pane-2,
  .pane-presentations-by-speaker-panel-pane-1 {
    margin-bottom: 20px;
  }
  .views-field-field-biography {
    margin-top: 20px;
  }
}

/* Presentations List Page */
.view-presentation-page {
  .views-row {
    margin-bottom: 2em;
    clear: both;
  }
  .views-field {
    margin-bottom: 12px;
  }
  .views-field-field-speaker-photo {
    float: right;
    margin-left: 20px;
  }
  .views-field-title {
    font-size: 2em;
    line-height: 1em;
  }
  .views-field-field-speaker {
    font-size: 1.5em;
  }
  .terms {
    display: inline-block;
  }
  .views-field-field-topic {
    margin: auto auto 20px 20px;
  }
}

/* Speakers List Page */
.view-speaker-page {
  .views-row {
    margin-bottom: 2em;
    clear: both;
    min-height: 210px;
  }
  .views-field {
    margin-bottom: 12px;
  }
  .views-field-field-job-title {
    margin-bottom: 0;
  }
  .views-field-field-speaker-photo {
    float: left;
    margin-right: 20px;
  }
  .views-field-realname {
    font-size: 2em;
  }
  .views-field-title {
    font-size: 1em;
    line-height: 1em;
  }
  .terms {
    display: inline-block;
  }
  .views-field-field-topic {
    margin: auto auto 20px 20px;
  }
}
