body {
}

// Banner Graphics
#site-logo {
  margin-bottom: 2em;
}

// Social Media Icon Block
.social-media img {
  margin: 0 3px 3px 0;
}

// Sponsor Logo Block
.view-sponsor-logos {
  .views-field-nothing {
    display: none;
  }
  h3 {
    text-align: center;
    font-size: 100%;
  }
  .views-field-field-logo-website {
    text-align: center;
    margin-bottom: 1em;
  }
  .views-row-last {
    margin-bottom: 2em;
  }
}

// Menus
// Footer Menu
#block-menu-menu-12x-footer {
  li {
    display: inline-block;
    border-left: 1px solid #999;
    padding: 0 4px 0 6px;
  }
  li.first {
    border-left: none;
    padding-left: 0;
  }
}
