
@layer base {

  @font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('/themes/custom/scale/dist/fonts/Outfit/static/Outfit-Thin.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('/themes/custom/scale/dist/fonts/Outfit/static/Outfit-ExtraLight.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/themes/custom/scale/dist/fonts/Outfit/static/Outfit-Light.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/themes/custom/scale/dist/fonts/Outfit/static/Outfit-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/themes/custom/scale/dist/fonts/Outfit/static/Outfit-Medium.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/themes/custom/scale/dist/fonts/Outfit/static/Outfit-SemiBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/themes/custom/scale/dist/fonts/Outfit/static/Outfit-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('/themes/custom/scale/dist/fonts/Outfit/static/Outfit-ExtraBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('/themes/custom/scale/dist/fonts/Outfit/static/Outfit-Black.ttf') format('truetype');
  }
}
