
header {
  ul.menu {

    li.menu__item--level-1 {
      position: relative;

      &:hover > ul.menu--level-2 {
        display: block;
      }
      &:focus-within > ul.menu--level-2 {
        display: block;
      }
    }

    ul.menu.menu--level-2 {
      @apply bg-white shadow flex flex-col;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 10;
      display: none;

      li.menu__item--level-2 {
        width: 200px;

        &:hover {
          &:before {
            content: none;
          }
        }

        a.menu__link {
          @apply block px-4 py-2 text-gray-800 hover:underline;
        }
      }
    }
  }
}

@media (max-width: 768px) {

  header ul.menu ul.menu--level-2 {
    position: static;
    display: none;
    width: 100%;
    box-shadow: none;
  }

  header ul.menu li.menu__item--level-1:focus-within > ul.menu--level-2 {
    display: block;
  }

}