@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts";
@import "menu";
@import "menu-mobile";
@import "alerts";
@import "hero";
@import "session";
@import "sponsor-carousel";
@import "forms";
@import "table";
@import "schedule";


body {
  @apply font-body;
}


// TODO: Find view using this and remove this
// TODO: Or make this a utility class
.view-sponsor-logos {
  .view-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-gap: 1rem;
    align-items: center;
  }
}

// TODO: Make this gracefully degrade to viewport
// Loop through columns and apply number of columns to grid
@for $i from 1 through 12 {
  .views-grid-#{$i} {
    .view-content {
      display: grid;
      grid-gap: 1rem;

      @apply grid-cols-1 md:grid-cols-2 lg:grid-cols-#{$i};

      h3 {
        @apply col-span-#{$i};
      }
    }
  }
}

/* Pager: align items horizontally */
.pager__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
  padding-left: 0;
  margin: 1rem 0;
}

/* remove default list spacing */
.pager__item {
  margin: 0;
}

.pager__item.is-active a {
  font-weight: 700;
}